body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

@keyframes fade_in{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.fade {
    animation: fade_in 4s linear;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3, a {
    opacity: 0;
}