body {
    background-image: url("https://picsum.photos/1280/720");
    background-size: cover;
    text-align: center;
}

h1, p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    -webkit-text-stroke: 2px black;
}

p {
    font-size: 2em;
    -webkit-text-stroke: 1px black;
}

a {
    background-color: aliceblue;
}

small {
    padding-top: auto;
    background-color: white;
}